<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVRViewer">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MVRViewer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- « Ouvrir avec… » un .mvr par extension (file:// et content:// dont
                 le chemin porte le nom). Le .mvr n'a pas de type MIME standard. -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathSuffix=".mvr" />
                <data android:pathPattern=".*\\.mvr" />
            </intent-filter>

            <!-- Repli par type MIME : beaucoup de gestionnaires annoncent un .mvr
                 comme zip/octet-stream (content:// sans nom dans le chemin). -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!-- Partage (« Envoyer vers »). -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
    </application>

</manifest>
